<% var first = true; %>
<% rels.each(function (relation, index){ %>
	<% if (first) { %>
		<option value="-1">Select</option>
	<% first = false; %>
	<% } %>
	<% if (table != relation.table) { %>
		<option <%= ((typeof selected !== 'undefined' && selected == relation.table) ? 'selected="selected"' : '') %> value="<%=relation.table; %>" ><%=relation.table; %></option>
	<% } %>
<% }); %>