<%== can.view.render('//js/app/views/layout/controller.ejs', {}); %>
<div class="content dashboard" <%= (el) -> new Controller.Dashboard(el) %>>
	<div class="inner"></div>
	<div class="sidebar"></div>
	<div class="tools"></div>
	<div class="clear"></div>
</div>
