<div class="ui celled grid pagecontent content insight" id="insight_<%= id %>">
	<div class="two wide column sidebar"></div>
	<div class="two wide column tools"></div>
	<div class="twelve column wide inner"></div>
</div>