<div class="edit pane">
	<form>
		<div class="paneTitle">
			<h2>Update Your information</h2>
		</div>
		<div class="paneContent">

			<div class="row">
				<label>Name</label> <input name="name" type="text" value="<%=Global.user.attr('name')%>" parsley-required="true" parsley-required-message="Name is required"></input>
			</div>
			<div class="row">
				<label>E-Mail</label> <input name="email" type="text" value="<%=Global.user.attr('email')%>" parsley-required="true" parsley-type="email" parsley-type-email-message="Invalid E-Mail" parsley-required-message="E-Mail is required"></input>
			</div>
			<div class="row">
				<label>New Password</label> <input name="password" type="password" id="password" parsley-minlength="6" ></input>
			</div>
			<div class="row">
				<label>Repeat Password</label> <input name="repeat_password" type="password" parsley-minlength="6" parsley-equalto="#password" parsley-equalto-message="Passwords does not match" parsley-minlength-message="Passwords must be at least 6 characters long"></input>
			</div>
			<div class="row">
				<label>Current Password</label> <input name="repeat_password" type="password" parsley-required="true" parsley-minlength="6" parsley-required-message="Current password is required" parsley-equalto-message="Passwords does not match" parsley-minlength-message="Passwords must be at least 6 characters long"></input>
			</div>
		</div>
		<div class="paneButtons">
			<button type="submit">Update</button>
		</div>
	</form>
</div>