<div class="pane pane50pct">
		<div class="paneTitle">
			<h2>New insight from editor</h2>

		</div>
		<div class="paneContent">
			Build a new insight from our drag and drop editor.
		</div>
		<div class="paneButtons">
			<button type="submit">Get started</button>
		</div>
	</form>
</div>
<div class="pane pane50pct last">
		<div class="paneTitle">
			<h2>New insight from query</h2>

		</div>
		<div class="paneContent">
			Write your own custom query using SQL.
		</div>
		<div class="paneButtons">
			<a href="#!insight/edit" class="button">Get started</a>
		</div>
	</form>
</div>

<h3>Saved Insights</h3>

<ul class="insights">
<% insights.each(function(item) {  %>
	<li <%= (el) -> el.data('insight',item) %>>
		<a href="#!insight/edit&id=<%=item.attr('id')%>">
			<i class="fa fa-bars"></i> <%=item.attr('name')%>
		</a>
		<a class="delete" href="#"><i class="fa fa-times"></i></a>
		<a class="edit" href="#!insight/edit&id=<%=item.attr('id')%>"><i class="fa fa-pencil"></i></a>

	</li>
<% }) %>
</ul>
