<h3 class="ui header left floated">
	SQL Query editor
	<% if(insight.attr('type') == 0){ %>
		(Read only mode)
	<% } %>
</h3>
<% if(Global.user.attr('level') == 0) { %>

	<div class="ui green icon small buttons right floated">
		<a class="ui button saveButton" href="#">
			<span class="text">Save</span>
		</a>
		<div class="ui floating dropdown icon button" <%= (el) -> el.dropdown() %>>
			<i class="icon dropdown"></i>
			<div class="menu">
				<div class="item saveCopy">
					Save as a Copy
				</div>
			</div>
		</div>
	</div>
	<a class="ui red icon labeled small button right floated dropdown clearButton" href="#">
		<span class="text">Clear All</span>
		<i class="icon delete"></i>
	</a>

<% } %>
<a class="ui labeled icon small button right floated dropdown exportButton" href="#">
	<span class="text">Export</span>
	<i class="icon download"></i>
	<form class="exportForm" action="/api/query/export" method="post" target="_new" style="display: none;">
		<input name="exportQuery" class="exportQuery" ></input>
		<input name="exportDB" class="exportDB" ></input>
	</form>
</a>
<div class="ui clearing divider"></div>

<div class="queryEditor">
	<div class="sql ui segment attached"><%=insight.attr('query')%></div>
	<a href="#" class="ui mini button applyButton">Apply</a>
</div>

<div class="queryErrors message ui red">

</div>
<div class="queryStats message ui green">

</div>

<div class="results">

</div>
