<div class="insightInner">
	<div class="pane">
		<div class="paneTitle">
			<h2>SQL Query editor
				<% if(insight.attr('type') == 0){ %>
					(Read only mode)
				<% } %>
			</h2>
			<a href="#" class="button clearButton">
				Clear All <span><i class="fa fa-times"></i></span>
			</a>
			<a href="#" class="button saveButton">
				Save <span><i class="fa fa-angle-down "></i></span>
				<ul class="submenu">
					<li>Save as a Copy</li>
				</ul>
			</a>
		</div>

		<div class="queryEditor">
			<div class="sql"><%=insight.attr('query')%></div>
			<a href="#" class="button applyButton">Apply</a>
		</div>
		<div class="queryErrors">

		</div>
	</div>

	<div class="results">

	</div>
</div>