<% var first = true; %>
<% rels.each(function (relation, index){ %>
	<% if (first) { %>
		<option value="-1">Select</option>
	<% first = false; %>
	<% } %>
	<% if (table != index) { %>
		<option <%= ((typeof selected !== 'undefined' && selected == index) ? 'selected="selected"' : '') %> value="<%=index; %>" ><%=index; %></option>
	<% } %>
<% }); %>