<% columns.each(function (column, index){ %>
	<option value="<%= column.Field %>" <%= ((typeof selected !== 'undefined' && selected == column.Field) ? 'selected="selected"' : '');%>><%= column.Field %></option>
<% }); %>