<% if(can.Object.same(structure,{})) { %>
	<i class="fa fa-spinner fa-spin"></i> Getting structure
<% } else { %>
	<ul>
		<% can.each(structure,function(item, index) { %>
			<li>
				<span><%=index%></span> <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>
				<ul>
					<% item.each(function(subitem) { %>
						<li <%= (el) -> el.data('field',subitem) %> <%= (el) -> el.data('table',index) %>>
							<%= subitem.Field %> <i class="fa fa-arrows"></i>
						</li>
					<% }) %>
				</ul>
			</li>
		<% }) %>
	</ul>
<% } %>
