<% if(can.Object.same(structure.attr(),{})) { %>
	<i class="fa fa-spinner fa-spin"></i> Getting structure
<% } else { %>
	<ul>
		<% structure.each(function(item, index) { %>
			<li>
				<%=index%> <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>
				<ul>
					<% item.each(function(subitem) { %>
						<li <%= (el) -> el.data('field',subitem) %>>
							<%= subitem.Field %> <i class="fa fa-arrows"></i>
						</li>
					<% }) %>
				</ul>
			</li>
		<% }) %>
	</ul>
<% } %>
