
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



//VARS
@colorHeader: #222222;
@colorText: #888888;
@colorContent: #f6f6f6;
@colorSidebar: #eeeeee;
@colorLine: #d6d6d6;
@colorLineHighlight: #f4f4f4;
@colorTip: #f4f4f4;
@colorInnerTitle: #ffffff;
@colorInnerContent: #fbfbfb;
@colorLink: #329ee9;
@colorGreenButton: #93bd01;
@colorError: #f24b1f;
@colorPopupMenu: #000000;

@font: 'Titillium Web', helvetica, sans-serif !important;

//MIXINS

.box-sizing (@type: border-box) {
	box-sizing: @type; -moz-box-sizing: @type; -ms-box-sizing: @type; -webkit-box-sizing: @type;
}

.paperShadow () {
	position: relative;
	&:before, &:after {
		//background: rgba(0,0,0,0.1);
		bottom: 15px;
		box-shadow: 10px 15px 10px rgba(0,0,0,0.1);
		content: " ";
		left: 0px;
		max-width: 300px;
		position: absolute;
		top: 15px;
		transform: rotate(-3deg);
		width: 50%;
		z-index: -1;
	}
	&:after {
		left: auto;
		right: 0px;
		transform: rotate(3deg);
		box-shadow: -10px 15px 10px rgba(0,0,0,0.1);
	}
}

//STYLES

* {
	.box-sizing(border-box);
}

html {
	font-family: @font;
	font-size: 14px;
	font-weight: 300;
	color: @colorText;
	background: @colorContent;
	height: 100%;
}

body {
	height: 100%;
}

a {
	color: @colorLink;
	text-decoration: none;
}

.error {
	color: @colorError !important;
	border: 1px solid @colorError !important;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

strong {
	font-weight: bold;
}
button, a.button {
	background: @colorGreenButton;
	color: @colorInnerTitle;
	border: 0;
	padding: 6px 10px;
	font-size: 16px;
	font-family: @font;
	border-radius: 3px;
	//margin: 0 auto;
	display: inline-block;
	line-height: 24px;
	text-align: center;
}

a.button.disabled, button.disabled {
	background: lighten(desaturate(@colorGreenButton,100%),50%);
	cursor: default;
}
header {
	background: @colorHeader;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	color: @colorText;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
	.logo {
		display: inline-block;
		width: 77px;
		height: 50px;
		background: url("/images/logo.png") no-repeat;
		margin: 10px 0 0 0;
		color: #fff;
		font-size: 32px;
		font-weight: bold;
		line-height: 42px;
		padding: 0 0 0 75px;
	}
	.user {
		float: right;
		color: @colorText;
		padding: 16px;
		line-height: 18px;
		position: relative;
		margin: 10px 0;
		i {
			font-weight: bold;
		}

		ul {
			display: none;
			white-space: nowrap;
			right: 0;
		}
		&:hover {
			background: @colorPopupMenu;
			color: @colorInnerTitle;
			ul {
				position: absolute;
				display: block;
				background: @colorPopupMenu;
				padding: 10px;
				li {
					padding: 5px;
					a {
						color: @colorText;
					}
				}
			}
		}
	}
}

.content {
	position: relative;
	min-height: 100%;
	padding-top: 70px;
	overflow: hidden;
	background: url(/images/bg.png) bottom right no-repeat;
	.sidebar {
		width: 250px;
		background: @colorSidebar;
		border-right: 1px solid @colorLine;
		position: relative;
		float: left;
		overflow: hidden;
		padding: 20px 20px 1000020px 20px;
		margin: 0 0 -1000000px 0;
		form {
			.row {
				overflow: hidden;
				label {
					float: left;
					width: 200px;
					display: block;
					line-height: 18px;
				}
				input {
					float: left;
					padding: 5px 8px;
					border: 1px solid @colorLine;
					border-radius: 3px;
					margin: 0 0 5px 0;
					font-size: 14px;
					font-family: @font;
					width: 100%;
					&:focus {
						border: 1px solid darken(@colorLine, 20%);
					}
					&.parsley-error {
						color: @colorError;
						border: 1px solid @colorError;
					}
				}

				.parsley-error-list {
					clear: both;
					padding: 0 0 10px 240px;
					color: @colorError;
				}
			}
			button {
				width: 100%;
				margin: 0 0 20px 0;
			}
		}
		.databaseSelect {
			width: 100%;
			margin: 10px 0 20px 0;
			padding: 5px 8px;
			border: 1px solid @colorLine;
			border-radius: 3px;
			font-size: 14px;
			font-family: @font;
			&:focus {
				border: 1px solid darken(@colorLine, 20%);
			}
			&.parsley-error {
				color: @colorError;
				border: 1px solid @colorError;
			}
		}

		&:after {
			position: absolute;
			right: 0px;
			height: 100%;
			content: " ";
			width: 1px;
			background: @colorLineHighlight;
		}

		.tip {
			padding: 20px;
			background: @colorTip;
			border-radius: 2px;
			border: 1px solid @colorLine;
			position: relative;
			&:after {
				content:" ";
				border-top: 10px solid @colorTip;
				border-left: 10px solid fadeout(@colorTip, 100%);
				border-right: 10px solid fadeout(@colorTip, 100%);
				bottom: -10px;
				position: absolute;
				right: 60px;
			}
			&:before {
				content:" ";
				border-top: 11px solid @colorLine;
				border-left: 11px solid fadeout(@colorLine, 100%);
				border-right: 11px solid fadeout(@colorLine, 100%);
				bottom: -11px;
				position: absolute;
				right: 59px;
			}
		}

		.fox {
			width: 209px;
			height: 264px;
			margin: 20px -20px;
			background: url(/images/tip.png) no-repeat;
		}
	}
	.inner {
		padding: 20px 20px 20px 270px;
		border-bottom: 1000000px solid transparent;
		position: relative;
		min-height: 100%;
		float: right;
		width: 100%;
		margin: 0 0 -1000000px -250px;
		.tabs {
			position: absolute;
			left: 250px;
			top: -40px;
			z-index: 2;
			overflow: hidden;
			li {
				float: left;
				height: 40px;
				background: @colorContent;
				display: inline-block;
				border-radius: 4px 4px 0 0;
				margin: 0 4px 0 0;
				padding: 4px;
				position: relative;
				input {
					display: none;
					padding: 6px 8px;
					border: 1px solid @colorLine;
					border-radius: 3px;
					margin: 0 4px 0 0;
					font-size: 14px;
					font-family: @font;
					&:focus {
						border: 1px solid darken(@colorLine, 20%);
					}
					overflow: hidden;



				}
				&:after {
					left: 0;
					bottom:-13px;
					position: absolute;
					height: 10px;
					right: 0;
					content: " ";
					display: block;
					box-shadow: 0 0 6px rgba(0,0,0,1);


				}
				a {
					display: inline-block;
					position: relative;
					padding: 10px 4px 10px 8px;
					color: @colorText;
					
				}
				i {
					padding: 4px;
				}
				&.active {
					input {
						display: inline-block;
					}
					a {
						display: none;
					}
					&:after {
						display: none;
					}
				}
				&.new {
					background: @colorGreenButton;
						color: #fff;
					a {
						color: #fff;
						padding: 10px 8px 10px 4px;
					}
					i {
						padding: 4px 4px 4px 8px;
					}
					&.noshadow:after {
						box-shadow: none;
					}
				}
			}
		}
		.insightInner {
			#sql {
				width: 100%;
				height: 150px;
				margin: -2px 0 0 0;
			}
			.paneTitle {
				h2 {
					float: left;
				}
				a.button {
					float: right;
					padding: 6px 60px 6px 10px;
					position: relative;
					display: block;
					background: @colorGreenButton;
					margin: 17px 0 0 0;
					
					span {
						position: absolute;
						height: 36px;
						width: 36px;
						border-radius: 0 3px 3px 0;

						top: 0;
						right: 0;
						background: darken(@colorGreenButton, 20%);
						text-align: center;
						line-height: 36px;
						i {
							line-height: 36px;
						}
					}
					.submenu {
						background: #445800;
						font-size: 14px;
						left: 0;
						position: absolute;
						right: 0;
						top: 35px;
						z-index: 10;
						display: none;
					}
				}
			}
			.queryEditor {
				position: relative;
				.applyButton {
					position: absolute;
					right: 30px;
					bottom: 10px;
					opacity: 0.5;
					z-index: 1000;
					&:hover {
						opacity: 1;
					}
					i {
						line-height: 24px;
					}
				}
			}
			.queryErrors {
				color: @colorInnerTitle;
				background: lighten(@colorError, 10%);
				padding: 20px;
				display: none;
			}
		}
		h3 {
			line-height: 50px;
			font-size: 18px;
			display: block;
			clear: both;
		}

		.insights {
			li {
				width: 100%;
				background: @colorInnerTitle;
				padding: 0 10px;
				border-left: 4px solid @colorLink;
				box-shadow: 0 0 6px rgba(0,0,0,0.1);
				.paperShadow();
				margin: 0 0 5px 0;
				height: 40px;
				display: block;
				> a {
					color: @colorHeader;
					font-size: 14px;
					line-height: 40px;
					display: block;
					float: left;
				}

				.edit, .delete {
					float: right;
					margin: 15px 0 0 10px;
					color: @colorLine;
					&:hover {
						color: @colorHeader;
					}
				}
			}
		}

		.pane {
			box-shadow: 0 0 6px rgba(0,0,0,0.1);
			margin: 0 0 20px 0;
			.paperShadow();
			&.noborder {
				.paneTitle {
					border: 0;
					&:after {
						background: none;
					}
				}
			}
			&.pane50pct {
				width: e("calc(50% - 10px)");
				margin-right: 20px;
				float: left;
				&.last {
					margin-right: 0;
				}
			}
			.paneTitle {
				line-height: 68px;
				height: 70px;
				background: @colorInnerTitle;
				padding: 0 20px;
				border-bottom: 1px solid @colorLineHighlight;
				position: relative;
				.page {
					float: right;
				}
				&:after {
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 100%;
					content: " ";
					height: 1px;
					background: @colorLine;
				}
				h2 {
					color: @colorHeader;
					font-size: 18px;
					float: left;
				}
				.help {
					float: right;
				}
			}
			.paneContent {
				background: @colorTip;
				padding: 20px;
				border-bottom: 1px solid @colorLine;
			}
			.paneButtons {
				background: @colorInnerTitle;
				padding: 20px;
				.next {
					float: right;
				}
				i {
					line-height: 24px;
				}

			}

			.resultsTable {
				overflow: auto;
    			overflow-y: hidden;
    			background: @colorInnerTitle;
    			table {
    				border-collapse: separate;
    				width: 100%;
	    			thead {
	    				background: @colorContent;
	    				font-weight: bold;
	    				th {
	    					padding: 7px;
	    					text-align: left;
	    					border-left: 1px solid @colorInnerTitle;
	    					border-right: 1px solid @colorLine;
	    					border-bottom: 1px solid @colorInnerTitle;
	    					white-space: nowrap;
	    				}
	    			}
	    			tbody {
	    				tr:nth-child(even) {
	    					background: @colorContent;
	    				}
	    				td {
	    					padding: 7px;
	    					text-align: left;
	    					border: 1px solid @colorLine;
	    					border-left: 1px solid @colorInnerTitle;
	    					border-bottom: 1px solid @colorInnerTitle;
	    				}
	    			}
	    		}
			}

			form {
				.row {
					overflow: hidden;
					label {
						float: left;
						width: 240px;
						display: block;
						line-height: 34px;
					}
					input {
						float: left;
						padding: 5px 8px;
						border: 1px solid @colorLine;
						border-radius: 3px;
						margin: 0 0 10px 0;
						font-size: 14px;
						font-family: @font;
						&:focus {
							border: 1px solid darken(@colorLine, 20%);
						}
						&.parsley-error {
							color: @colorError;
							border: 1px solid @colorError;
						}
					}
					.parsley-error-list {
						clear: both;
						padding: 0 0 10px 240px;
						color: @colorError;
					}
				}
			}
		}
	}
	.clear {
		clear: both;
	}
}