<h3 class="ui header left floated">Create User</h3>
<div class="ui clearing divider"></div>

<form class="ui form create">

		<div class="field">
			<label>Name</label> <input name="name" type="text" parsley-required="true" parsley-required-message="Name is required"></input>
		</div>
		<div class="field">
			<label>E-Mail</label> <input name="email" type="text" parsley-required="true" parsley-type="email" parsley-type-email-message="Invalid E-Mail" parsley-required-message="E-Mail is required"></input>
		</div>
		<div class="field">
			<div class="ui toggle checkbox" <%= (el) -> el.checkbox() %>>
				<input name="level" value="0" type="checkbox" ></input><label>Administrator</label>
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<label>Password</label> <input name="password" type="password" id="password" parsley-required="true" parsley-minlength="6" parsley-required-message="Password is required"></input>
			</div>
			<div class="field">
				<label>Repeat Password</label> <input name="repeat_password" type="password" parsley-required="true" parsley-minlength="6" parsley-required-message="Repeat password is required" parsley-equalto="#password" parsley-equalto-message="Passwords does not match" parsley-minlength-message="Passwords must be at least 6 characters long"></input>
			</div>
		</div>
		<button class="ui green submit button" type="submit">Create</button>
</form>
